.epw-Section {
  font-size: 1rem;
  position: static;
}

.epw-Section-wrapper {
  box-sizing: border-box;
}

.epw-Section-wrapper--smallWidth {
  width: 100%;
}

.epw-Section-wrapper--gutter {
  padding: 7rem 1.25rem 3rem;
}