:root {
  --epw-color-blue: #103844;
  --epw-color-coconut: #f2ebe0;
  --epw-color-coconutDarken: #f2e0c3;
  --epw-color-red: #d91112;
  --epw-color-redDarken: #c61010;
  --epw-color-turquoise: #348899;
}